rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Función auxiliar para comprobar si el usuario está autenticado
    function isAuthenticated() {
      return request.auth != null;
    }
    
    // Función auxiliar para comprobar si pertenece al usuario
    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }

    // Permitir lectura y escritura solo en el subdirectorio del propio usuario
    match /users/{userId}/{allPaths=**} {
      allow read, write: if isOwner(userId);
    }
  }
}
